* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.color-dark {
  background: #7b7979;
}

.calculation {
  background-color: #202020;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  width: 360px;
  border: 0.5px solid #202020;
}
.calculation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.calculation__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation__icon {
  margin-left: 15px;
  margin-right: 10px;
  width: 25px;
}
.calculation__title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 15px;
}
.calculation__header-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr;
}
.calculation__minimizate, .calculation__maximize, .calculation__close {
  height: 100%;
  width: 51px;
  background: transparent;
}
.calculation__minimizate:hover, .calculation__maximize:hover, .calculation__close:hover {
  background: #363636;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.calculation__minimizate {
  position: relative;
}
.calculation__minimizate:before {
  content: "";
  display: block;
  width: 10px;
  height: 1.2px;
  border: 0;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.calculation__maximize {
  position: relative;
}
.calculation__maximize:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 0;
  border: 0.7px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.calculation__close {
  position: relative;
}
.calculation__close:after, .calculation__close:before {
  content: "";
  display: block;
  width: 13px;
  height: 0.7px;
  border: 0;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
.calculation__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.calculation__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.calculation__close:hover {
  background: #e81123;
}
.calculation__view {
  width: 100%;
  height: 30px;
  color: #a6a6a6;
  font-size: 18px;
  text-align: right;
  padding: 6px 5px;
}
.calculation__res {
  height: 70px;
  background: transparent;
  color: #fff;
  font-size: 38px;
  text-align: right;
  padding: 15px 5px;
}
.calculation__buttons {
  margin-top: 50px;
}
.calculation__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}
.calculation__item {
  cursor: pointer;
  height: 60px;
  text-align: center;
  background: #323232;
  color: #fff;
  border-radius: 8px;
}
.calculation__item:nth-child(9), .calculation__item:nth-child(10), .calculation__item:nth-child(11), .calculation__item:nth-child(13), .calculation__item:nth-child(14), .calculation__item:nth-child(15), .calculation__item:nth-child(17), .calculation__item:nth-child(18), .calculation__item:nth-child(19), .calculation__item:nth-child(21), .calculation__item:nth-child(22), .calculation__item:nth-child(23) {
  background: #3b3b3b;
}
.calculation__item:nth-child(24) {
  background: #782bca;
}
.calculation__item:nth-child(24):hover {
  background: #8b3fdc;
}
.calculation__item:nth-child(9):hover, .calculation__item:nth-child(10):hover, .calculation__item:nth-child(11):hover, .calculation__item:nth-child(13):hover, .calculation__item:nth-child(14):hover, .calculation__item:nth-child(15):hover, .calculation__item:nth-child(17):hover, .calculation__item:nth-child(18):hover, .calculation__item:nth-child(19):hover, .calculation__item:nth-child(21):hover, .calculation__item:nth-child(22):hover, .calculation__item:nth-child(23):hover {
  background: #323232;
}
.calculation__item:hover {
  background: #3c3c3c;
}
.calculation__btn {
  background: transparent;
  color: #fff;
  font-weight: 400;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.calculation__btn-percent {
  font-size: 18px;
}
.calculation__btn-delete {
  font-size: 20px;
}
.calculation__btn-oneDivX {
  font-size: 16px;
}
.calculation__btn-root {
  font-size: 16px;
}
.calculation__btn-division {
  font-size: 20px;
}
.calculation__btn-multiplication {
  font-size: 20px;
}
.calculation__btn-subtraction {
  font-size: 20px;
}
.calculation__btn-addition {
  font-size: 20px;
}
.calculation__btn-equals {
  font-size: 20px;
}