.calculation {
	// background-image: url(../img/background/galaxy_1.jpg);
	background-color: #202020;
	background-size: cover;
	background-position: 0;
	background-repeat: no-repeat;

	min-width: 360px;

	border: 0.5px solid #202020;

	// .calculation__header
	&__header {
		display: flex;
		justify-content: space-between;
		height: 40px;
	}
	// .calculation__header-title
	&__header-title {
		display: flex;
		align-items: center;
	}
	// .calculation__icon
	&__icon {
		margin-left: 15px;
		margin-right: 10px;
		width: 25px;
	}
	// .calculation__title
	&__title {
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		color: #fff;
		letter-spacing: 0.5px;
		font-weight: 400;
		font-size: 15px;
	}
	// .calculation__header-buttons
	&__header-buttons {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
	}
	// .calculation__minimizate
	// .calculation__maximize
	// .calculation__close
	&__minimizate,
	&__maximize,
	&__close {
		height: 100%;
		width: 51px;
		background: transparent;

		&:hover {
			background: #363636;
			transition: background 0.3s ease-in-out;
		}
	}

	// .calculation__minimizate
	&__minimizate {
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 10px;
			height: 1.2px;
			border: 0;
			background: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	// .calculation__maximize
	&__maximize {
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			border: 0;
			border: 0.7px solid #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	// .calculation__close
	&__close {
		position: relative;

		&:after,
		&:before {
			content: '';
			display: block;
			width: 13px;
			height: 0.7px;
			border: 0;
			background: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&:hover {
			background: #e81123;
		}
	}
	// .calculation__display
	&__display {
	}
	// .calculation__view
	&__view {
		width: 100%;
		height: 30px;
		color: #a6a6a6;

		font-size: 18px;
		text-align: right;
		padding: 6px 5px;
	}
	// .calculation__res
	&__res {
		width: 100%;
		height: 70px;
		background: transparent;
		color: #fff;

		font-size: 38px;
		text-align: right;
		padding: 15px 5px;
	}
	// .calculation__buttons
	&__buttons {
		margin-top: 50px;
	}
	// .calculation__nav
	&__nav {
	}
	// .calculation__list
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2px;
	}
	// .calculation__item
	&__item {
		cursor: pointer;

		// display: flex;
		// justify-content: center;
		// align-items: center;

		height: 60px;

		text-align: center;
		background: #323232;
		color: #fff;
		border-radius: 8px;

		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(13),
		&:nth-child(14),
		&:nth-child(15),
		&:nth-child(17),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(21),
		&:nth-child(22),
		&:nth-child(23) {
			background: #3b3b3b;
		}
		&:nth-child(24) {
			background: #8a43d4;
		}

		&:nth-child(9):hover,
		&:nth-child(10):hover,
		&:nth-child(11):hover,
		&:nth-child(13):hover,
		&:nth-child(14):hover,
		&:nth-child(15):hover,
		&:nth-child(17):hover,
		&:nth-child(18):hover,
		&:nth-child(19):hover,
		&:nth-child(21):hover,
		&:nth-child(22):hover,
		&:nth-child(23):hover {
			background: #323232;
		}

		&:hover {
			background: #3c3c3c;
		}
	}
	// .calculation__btn
	&__btn {
		background: transparent;
		color: #fff;
		font-weight: 400;
		
		height: 100%;
		width: 100%;
		border-radius: inherit;
	}
	//calculation__btn-percent
	&__btn-percent {
		font-size: 18px;
	}
	//calculation__btn-clear
	&__btn-clear {
	}
	//calculation__btn-reset
	&__btn-reset {
	}
	//calculation__btn-delete
	&__btn-delete {
		font-size: 20px;
	}
	// .calculation__btn-oneDivX
	&__btn-oneDivX {
		font-size: 16px;
	}
	// .calculation__btn-degree
	&__btn-degree {
	}
	// .calculation__btn-root
	&__btn-root {
		font-size: 16px;
	}
	// .calculation__btn-division
	&__btn-division {
		font-size: 20px;
	}
	// .calculation__btn-seven
	&__btn-seven {
	}
	// .calculation__btn-eight
	&__btn-eight {
	}
	// .calculation__btn-nine
	&__btn-nine {
	}
	// .calculation__btn-multiplication
	&__btn-multiplication {
		font-size: 20px;
	}
	// .calculation__btn-four
	&__btn-four {
	}
	// .calculation__btn-five
	&__btn-five {
	}
	// .calculation__btn-six
	&__btn-six {
	}
	// .calculation__btn-subtraction
	&__btn-subtraction {
		font-size: 20px;
	}
	// .calculation__btn-one
	&__btn-one {
	}
	// .calculation__btn-two
	&__btn-two {
	}
	// .calculation__btn-three
	&__btn-three {
	}
	// .calculation__btn-addition
	&__btn-addition {
		font-size: 20px;
	}
	// .calculation__btn-signReplacement
	&__btn-signReplacement {
	}
	// .calculation__btn-zero
	&__btn-zero {
	}
	// .calculation__btn-comma
	&__btn-comma {
	}
	// .calculation__btn-equals
	&__btn-equals {
		font-size: 20px;
	}
}
